/* CSS RESET */
a{
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



body{
    font-family: 'Montserrat' , sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


ul{
    list-style-type: none;
}

h1, p {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}


/* ********************** */

/* RooT */
:root {
  
    --gold:rgb(190, 165, 0) ; 
    --text-color: #666;
    --gray: rgb(220, 220, 220);
    --black: rgb(45, 45, 45); 
    --white: #fff;
}

/* *********************** */
/* Header Part */
.t-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}


.c-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}

.top-row{
    background-color: rgb(220, 220, 220);
}

.fa{
    margin: 0px 15px ;
}

.enjoy{
    margin-right: -25px;
    margin-left: 15px;
}

.eng{
    margin-right: 15px;
}

.search-logo{
    width: 25px;
    height: 25px;
    margin: 10px 0px;
}

.serach-box{
    width: 220px;
    height: 25px;
    border: none;
}


.site-logo{
    width: 250px;
    height: 170px;
    margin: 0px 0px;
}

.shop-basket{
    width: 40px;
    height: 35px;
    margin-left: 35px;
}

.sign-in{
    margin-right: 35px;
}

.person{
    width: 35px;
    height: 35px;
}
.bottom-row{
    background-color: rgb(45, 45, 45);
    height: 100px;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}


.bottom-row a {
    color: white;
}

.nav-bar{
    gap: 100px;
    height: 100px;
    
}

.nav{
    background-color: rgb(45, 45, 45);
    transition: all .5s;
}

.nav:hover{
    background-color: red;
    padding: 40.5px;
}
