/* CSS RESET */
a{
    text-decoration: none;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'montserrat' , sans-serif;
}

ul{
    list-style-type: none;
}

/* ********************** */

/* Header Part */

.t-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.container{

    width: 1300px;
    margin: 0 auto;

}

.c-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}

.space{
    justify-content: space-between;
    margin: 0px 15px ;
}

.enjoy{
    margin-right: -25px;
}

.search-logo{
    width: 25px;
    height: 25px;
    margin: 35px 0px;
}

.site-logo{
    width: 350px;
    height: 200px;
    margin: 35px 0px;
}